<!DOCTYPE html>
<html>
<head>
    <title>Spotifeel</title>
    <style>
    p {
        font-family: Courier
    }
    h1 {
        font-family: Courier
    }
    </style>
</head>
<body style="background-color:rgb(255,240,255)">
    <h1> Results </h1>
    <p>Your mood score is {{score}}.</p> 
    {%if score < -20 %}
    <p>Wow! You're really depressed.</p>
    {%elif score > 20 %}
    <p>Too happy.</p>
    {%endif%}
    <p>Your most depressing track is {{min_name}} by {{min_artist}}.</p>
    <img src="{{cover_art}}" width="200" height="200">
    <p>Your happiest track is {{max_name}} by {{max_artist}}.</p>
    <img src="{{c2}}" width="200" height="200">
    <p>Your most depressing lyrics are...</p>
    <p>{{min_lyric}}</p>
</body>
</html>